n8n/webhook_workflow.json
{
  "name": "AVA — Dashboard Webhook Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ava-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node_webhook",
      "name": "Webhook AVA Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 300],
      "webhookId": "ava-invoice"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nif (body.ping === true) {\n  return [{ json: { _route: 'ping' } }];\n}\nconst source = (body.source || 'manual').toLowerCase();\nreturn [{ json: { ...body, _route: source } }];"
      },
      "id": "node_normalise",
      "name": "Normaliser payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "ping", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ping"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "pdf", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "conditions": [{ "leftValue": "={{ $json._route }}", "rightValue": "manual", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manual"
            }
          ]
        },
        "options": {}
      },
      "id": "node_router",
      "name": "Router PDF / Manuel / Ping",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [620, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message: 'AVA webhook opérationnel', timestamp: new Date().toISOString() }) }}",
        "options": {}
      },
      "id": "node_ping_response",
      "name": "Réponse Ping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"model\": \"gpt-4o\",\n  \"max_tokens\": 1000,\n  \"temperature\": 0.1,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an accounting AI for Moroccan firms using the Plan Comptable Marocain (PCM). Extract structured invoice data from the PDF image provided. Return ONLY valid JSON, no markdown, no explanation.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:application/pdf;base64,{{ $json.base64 }}\",\n            \"detail\": \"high\"\n          }\n        },\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract invoice data and return ONLY this JSON:\\n{\\n  \\\"vendor\\\": \\\"nom du fournisseur ou client\\\",\\n  \\\"invoice_number\\\": \\\"numéro de facture\\\",\\n  \\\"date\\\": \\\"YYYY-MM-DD\\\",\\n  \\\"amount_ht\\\": number,\\n  \\\"vat_rate\\\": number (0.07 | 0.10 | 0.14 | 0.20),\\n  \\\"amount_tva\\\": number,\\n  \\\"amount_ttc\\\": number,\\n  \\\"currency\\\": \\\"MAD\\\",\\n  \\\"category\\\": \\\"achats_marchandises | frais_transport | services | salaires | frais_deplacement | autres\\\",\\n  \\\"type\\\": \\\"achat | vente | note | avoir\\\",\\n  \\\"ice\\\": \\\"ICE number or null\\\",\\n  \\\"confidence\\\": number 0.0-1.0\\n}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "node_gpt4o_vision",
      "name": "GPT-4o Vision — Lire PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices?.[0]?.message?.content || '';\nlet data;\ntry {\n  data = JSON.parse(raw.replace(/```json|```/g, '').trim());\n} catch(e) {\n  throw new Error('GPT-4o JSON invalide: ' + raw.slice(0, 200));\n}\nconst confidence = data.confidence || 0;\nreturn [{ json: {\n  ...data,\n  confidence,\n  _source: 'pdf',\n  _needs_review: confidence < 0.85,\n  societe: $('Webhook AVA Dashboard').first().json.body?.societe || '',\n  submitted_at: $('Webhook AVA Dashboard').first().json.body?.submitted_at || new Date().toISOString(),\n} }];"
      },
      "id": "node_parse_gpt",
      "name": "Parser réponse GPT-4o",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json;\nconst lines = b.lines || [];\nlet dominant_tva = 0.20;\nif (lines.length > 0) dominant_tva = (lines[0].tva_rate || 20) / 100;\nreturn [{ json: {\n  vendor:         b.tiers || '',\n  invoice_number: b.invoice_number || '',\n  date:           b.date || new Date().toISOString().split('T')[0],\n  amount_ht:      b.montant_ht || 0,\n  vat_rate:       dominant_tva,\n  amount_tva:     b.montant_tva || 0,\n  amount_ttc:     b.montant_ttc || 0,\n  currency:       'MAD',\n  category:       b.type === 'vente' ? 'ventes_produits' : 'achats_marchandises',\n  type:           b.type || 'achat',\n  ice:            b.ice || null,\n  societe:        b.societe || '',\n  cabinet:        b.cabinet || '',\n  lines:          lines,\n  confidence:     1.0,\n  _source:        'manual',\n  _needs_review:  false,\n  submitted_at:   b.submitted_at || new Date().toISOString(),\n} }];"
      },
      "id": "node_normalise_manual",
      "name": "Normaliser saisie manuelle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [860, 500]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._needs_review }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "false" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node_confidence_check",
      "name": "Confiance ≥ 85% ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "jsCode": "const PCM = {\n  'achats_marchandises': { debit: '6111', credit: '4411', tva: '3455', journal: 'ACH' },\n  'ventes_produits':     { debit: '3421', credit: '7111', tva: '4455', journal: 'VTE' },\n  'frais_transport':     { debit: '6142', credit: '4411', tva: '3455', journal: 'ACH' },\n  'salaires':            { debit: '6171', credit: '4441', tva: null,   journal: 'OD'  },\n  'services':            { debit: '6131', credit: '4411', tva: '3455', journal: 'ACH' },\n  'frais_deplacement':   { debit: '6185', credit: '5141', tva: '3455', journal: 'OD'  },\n  'autres':              { debit: '6199', credit: '4411', tva: '3455', journal: 'ACH' },\n};\nconst item = $input.first().json;\nconst rule = PCM[item.category] || PCM['autres'];\nconst vat_amount = Math.round(item.amount_ht * item.vat_rate * 100) / 100;\nconst lines = [\n  { compte: rule.debit, debit: item.amount_ht, credit: 0, libelle: item.vendor },\n];\nif (rule.tva) lines.push({ compte: rule.tva, debit: vat_amount, credit: 0, libelle: 'TVA déductible' });\nlines.push({ compte: rule.credit, debit: 0, credit: item.amount_ttc, libelle: item.vendor });\nconst totalDebit  = lines.reduce((s,l) => s + l.debit, 0);\nconst totalCredit = lines.reduce((s,l) => s + l.credit, 0);\nif (Math.abs(totalDebit - totalCredit) > 0.01) throw new Error(`Non équilibrée: D=${totalDebit} C=${totalCredit}`);\nreturn [{ json: { ...item, pcm_lines: lines, journal_code: rule.journal, debit_account: rule.debit, credit_account: rule.credit } }];"
      },
      "id": "node_pcm",
      "name": "Moteur PCM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 300]
    },
    {
      "parameters": {
        "resource": "vendorBill",
        "operation": "create",
        "additionalFields": {
          "invoice_date": "={{ $json.date }}",
          "ref": "={{ $json.invoice_number }}",
          "narration": "={{ 'AVA Auto-import — ' + $json._source + ' — Confiance: ' + Math.round($json.confidence * 100) + '%' }}"
        },
        "invoiceLines": {
          "lineItems": [
            {
              "name": "={{ $json.vendor + ' — ' + $json.invoice_number }}",
              "quantity": 1,
              "priceUnit": "={{ $json.amount_ht }}",
              "accountId": "={{ $json.debit_account }}"
            }
          ]
        }
      },
      "id": "node_odoo",
      "name": "Odoo — Créer facture fournisseur",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [1740, 200],
      "credentials": {
        "odooApi": {
          "id": "ODOO_CREDENTIAL_ID",
          "name": "Odoo — AVA"
        }
      },
      "notes": "Configure credential: Odoo URL + DB + username + API key"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n// Build CSV row\nconst headers = ['N° Facture','Date','Tiers','Société','Type','Montant HT','TVA','Montant TTC','Taux TVA','Catégorie PCM','Journal PCM','Compte Débit','Compte Crédit','Source','Confiance IA','Soumis le','Statut'];\nconst escape = v => '\"' + String(v ?? '').replace(/\"/g, '\"\"') + '\"';\nconst row = [\n  d.invoice_number,\n  d.date,\n  d.vendor,\n  d.societe,\n  d.type,\n  d.amount_ht,\n  d.amount_tva,\n  d.amount_ttc,\n  (d.vat_rate * 100) + '%',\n  d.category,\n  d.journal_code,\n  d.debit_account,\n  d.credit_account,\n  d._source,\n  d.confidence,\n  d.submitted_at,\n  'Traité'\n].map(escape).join(',');\nconst csv = headers.map(escape).join(',') + '\\n' + row;\nreturn [{ json: { ...d, csv_row: csv, csv_filename: 'AVA_' + (d.invoice_number || 'facture').replace(/[^a-zA-Z0-9]/g,'_') + '_' + new Date().toISOString().slice(0,10) + '.csv' } }];"
      },
      "id": "node_csv",
      "name": "Générer CSV Odoo Import",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 380],
      "notes": "Produces a CSV row ready for Odoo vendor bill import"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ZuT74KpnIaskzJcZGtBum6ezSTHXZKha-hq_xt68GE8"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Factures"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "N° Facture":    "={{ $json.invoice_number }}",
            "Date":          "={{ $json.date }}",
            "Tiers":         "={{ $json.vendor }}",
            "Société":       "={{ $json.societe }}",
            "Type":          "={{ $json.type }}",
            "Montant HT":    "={{ $json.amount_ht }}",
            "TVA":           "={{ $json.amount_tva }}",
            "Montant TTC":   "={{ $json.amount_ttc }}",
            "Taux TVA":      "={{ ($json.vat_rate * 100) + '%' }}",
            "Catégorie PCM": "={{ $json.category }}",
            "Journal PCM":   "={{ $json.journal_code }}",
            "Source":        "={{ $json._source }}",
            "Confiance IA":  "={{ $json.confidence }}",
            "Soumis le":     "={{ $json.submitted_at }}",
            "Statut":        "Traité"
          }
        },
        "options": {}
      },
      "id": "node_sheets",
      "name": "Google Sheets — Enregistrer",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1960, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets — AVA"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, invoice_number: $json.invoice_number, vendor: $json.vendor, amount_ttc: $json.amount_ttc, source: $json._source, csv_filename: $json.csv_filename, csv_row: $json.csv_row, executionId: $execution.id }) }}",
        "options": {}
      },
      "id": "node_respond_ok",
      "name": "Réponse — Succès",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2180, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nreturn [{ json: {\n  alert: 'LOW_CONFIDENCE',\n  invoice_number: item.invoice_number,\n  vendor: item.vendor,\n  confidence: item.confidence,\n  source: item._source,\n  message: `⚠️ ${item.invoice_number} (${item.vendor}) — confiance ${Math.round(item.confidence*100)}% — révision requise`,\n} }];"
      },
      "id": "node_review_alert",
      "name": "Préparer alerte révision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 202,
        "responseBody": "={{ JSON.stringify({ ok: true, status: 'needs_review', invoice_number: $json.invoice_number, confidence: $json.confidence, message: 'Facture en attente de révision manuelle', executionId: $execution.id }) }}",
        "options": {}
      },
      "id": "node_respond_review",
      "name": "Réponse — Révision requise",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 520]
    }
  ],
  "connections": {
    "Webhook AVA Dashboard": {
      "main": [[{ "node": "Normaliser payload", "type": "main", "index": 0 }]]
    },
    "Normaliser payload": {
      "main": [[{ "node": "Router PDF / Manuel / Ping", "type": "main", "index": 0 }]]
    },
    "Router PDF / Manuel / Ping": {
      "main": [
        [{ "node": "Réponse Ping", "type": "main", "index": 0 }],
        [{ "node": "GPT-4o Vision — Lire PDF", "type": "main", "index": 0 }],
        [{ "node": "Normaliser saisie manuelle", "type": "main", "index": 0 }]
      ]
    },
    "GPT-4o Vision — Lire PDF": {
      "main": [[{ "node": "Parser réponse GPT-4o", "type": "main", "index": 0 }]]
    },
    "Parser réponse GPT-4o": {
      "main": [[{ "node": "Confiance ≥ 85% ?", "type": "main", "index": 0 }]]
    },
    "Normaliser saisie manuelle": {
      "main": [[{ "node": "Confiance ≥ 85% ?", "type": "main", "index": 0 }]]
    },
    "Confiance ≥ 85% ?": {
      "main": [
        [{ "node": "Moteur PCM", "type": "main", "index": 0 }],
        [{ "node": "Préparer alerte révision", "type": "main", "index": 0 }]
      ]
    },
    "Moteur PCM": {
      "main": [
        [
          { "node": "Odoo — Créer facture fournisseur", "type": "main", "index": 0 },
          { "node": "Générer CSV Odoo Import", "type": "main", "index": 0 }
        ]
      ]
    },
    "Odoo — Créer facture fournisseur": {
      "main": [[{ "node": "Google Sheets — Enregistrer", "type": "main", "index": 0 }]]
    },
    "Générer CSV Odoo Import": {
      "main": [[{ "node": "Google Sheets — Enregistrer", "type": "main", "index": 0 }]]
    },
    "Google Sheets — Enregistrer": {
      "main": [[{ "node": "Réponse — Succès", "type": "main", "index": 0 }]]
    },
    "Préparer alerte révision": {
      "main": [[{ "node": "Réponse — Révision requise", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["AVA", "Factures", "Dashboard", "PCM", "Odoo", "CSV"]
}
